
.Rhistory
*.pper
/.Rproj.user
/data/HMD_hourly
data/NEFSC_GOM_LUBEC_HMD_hourlymed.csv
data/NEFSC_GOM_MDR_HMD_hourlymed.csv
data/NEFSC_GOM_USTR01_HMD_hourlymed.csv
data/NEFSC_GOM_USTR03_HMD_hourlymed.csv
data/NEFSC_GOM_USTR11_HMD_hourlymed.csv
data/NEFSC_GOM_MONHEGAN_HMD_hourlymed.csv
